img.topRight {
	margin : 10px;
	position:absolute; 
	top:0px; 
	left:10px;
}

body p {
	color : black; 
	padding : 2px; 
	text-align : center
}

body {background-color : LightCyan } 

body h1
{
    
	background-color : lightSteelBlue;
    
	color : green;
    
	padding : 20px;
	font-family : Courier, serif;
    
	text-align : center

}

h2 {
	text-align : center
}

div
{
    
	margin : 10px 10px;
    
	background-color : lightYellow;
    
	padding : 10px;

}

div p {color : black;}

span {color : red;}

table {
	margin-left : auto;	
	margin-right : auto;
	background-color : grey;	
	text-align : center;
	style : "float:center";
}
th, td{
	padding : 10px;
	border: 1px solid ;
	background-color : White;
}

<!--
Table centering code from : http://theodorakis.net/tablecentertest.html#css. Theodorakis, Nicholas. 2007."Centering Tables"
-->